@charset "utf-8";

/* main.css */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.clover {
    color: red;
}

.sam {
    color: green;
}

.alex {
    color: orange;
}

.jerry {
    color: grey;
}

.mandy {
    color: blueviolet;
}